.App {
  display: flex;
  justify-content:  center;
  padding: 100px 0 100px 300px;
  flex-direction: column
}

ul {
  padding: 0
}

.todo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #FFF;
  height: 2em;
  position: relative;
  font: 12pt arial;
  border-bottom: 1px dotted #EEE;
}

.todo__title {
  font-size: 14px;
  color: chocolate;
  margin-right: 5px;
}

.todo__delete, .todo__edit, .add-todo__button {
  margin-left: 30px;
  padding: 10px;
  background: red;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  border: none;
  border-radius: 5%
}

.todo__edit {
  background-color: green;
}

.add-todo__input {
  transition: .3s ease-out;
}

.add-todo__input:focus {
  outline: none;
  transition: .3s ease-in;
  padding: 8px;
  background-color: chocolate
}

.add-todo {
  margin: 0 200px;
}

.add-todo__button {
  background-color: blue; 
}

.completed {
  text-decoration: line-through;
}